<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://skycastweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>skycastweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SkyCastWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>AveryPratt</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:skycast.database.windows.net,1433;Initial Catalog=SkyCastDb;Persist Security Info=False;User ID=AveryPratt;Password=PYreva14;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:skycast.database.windows.net,1433;Initial Catalog=SkyCastDb;Persist Security Info=False;User ID=AveryPratt;Password=PYreva14;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SkyCast.Models.ApplicationDbContext, SkyCast" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SkyCast.Models.WeatherDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:skycast.database.windows.net,1433;Initial Catalog=SkyCastDb;Persist Security Info=False;User ID=AveryPratt;Password=PYreva14;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:skycast.database.windows.net,1433;Initial Catalog=SkyCastDb;Persist Security Info=False;User ID=AveryPratt;Password=PYreva14;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SkyCast.Models.WeatherDbContext, SkyCast" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SkyCast.Models.WeatherDbContext-Web.config Connection String">
      <ParameterValue>Server=tcp:skycast.database.windows.net,1433;Initial Catalog=SkyCastDb;Persist Security Info=False;User ID=AveryPratt;Password=PYreva14;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:skycast.database.windows.net,1433;Initial Catalog=SkyCastDb;Persist Security Info=False;User ID=AveryPratt;Password=PYreva14;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:skycast.database.windows.net,1433;Initial Catalog=SkyCastDb;Persist Security Info=False;User ID=AveryPratt;Password=PYreva14;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SkyCast.Models.WeatherDbContext-Web.config Connection String">
      <ParameterValue>Server=tcp:skycast.database.windows.net,1433;Initial Catalog=SkyCastDb;Persist Security Info=False;User ID=AveryPratt;Password=PYreva14;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SkyCast.Models.WeatherDbContext" />
  </ItemGroup>
</Project>